{% extends "menu.html" %}
{% import "form_helper.html" as flp %}
{% block menu_custom_body %}
<h3 class="alcenter text-danger">GAMES</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6"><h4>name</h4></div>
            <div class="col-sm-2"><h4>players</h4></div>
            <div class="col-sm-2"><h4>active</h4></div>
            <div class="col-sm-2"><h4>delete</h4></div>
        </div>
        {% for g in games %}
        <div class="row">
            <div class="col-sm-6">
                {{ g['name'] }}
            </div>
            <div class="col-sm-2">
                {{ g['players'] }}
            </div>
            <div class="col-sm-2" style="text-align:center;">
                <a href="/disablegame/{{ g['id'] }}">
                    <span id="game-disable-{{ g['id'] }}" class="glyphicon glyphicon-ok"
                          style="color:#1E1;text-align:center;{% if not g['active'] %}display:none;{% endif %}"></span>
                </a>
                <a href="/activategame/{{ g['id'] }}">
                    <span id="game-activate-{{ g['id'] }}" class="glyphicon glyphicon-ban-circle"
                          style="color:red;{% if g['active'] %}display:none;{% endif %}"></span>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/deletegame/{{ g['id'] }}">
                    <span id="game-delete-{{ g['id']}}" class="glyphicon glyphicon-fire" style="color:red;"></span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        <h4 style="text-align:right;">new game</h4>
        <div class="row">
            <form class="form-horizontal" action="/config" method="POST">
            <div class="col-sm-12">
                {{ ngf.csrf_token }}
                {{ flp.render(ngf.name, label_width=5) }}
                {{ flp.render(ngf.num_players, label_width=5) }}
            </div>
            <div class="col-sm-7 col-sm-offset-5">
                <button class="btn btn-primary btn-block" type="submit" name="newgame">NEW GAME</button>
            </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {{ flp.render_general_errors(ngf) }}
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
<h3 class="alcenter text-danger">ADMIN</h3>
<br><br><br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <form class="form-horizontal" action="/reset" method="POST">
        {{ ngf.csrf_token }}
        <button class="btn btn-danger btn-block" type="submit" name="reset_players">RESET PLAYERS, ENTRIES, SPINS</button>
        </form>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <form class="form-horizontal" action="/reset" method="POST">
        {{ ngf.csrf_token }}
        <button class="btn btn-danger btn-block" type="submit" name="reset_spins">RESET SPINS</button>
        </form>
    </div>
</div>
{% endblock %}
