{% extends "menu.html" %}
{% import "form_helper.html" as flp %}
{% block menu_custom_body %}
<h3 class="alcenter text-danger">PLAYER ENTRY</h3>
<div class="row">
    <div class="col-sm-6">
        <h4 class="alcenter text-warn">NEW PLAYER</h4>
        <form class="form-horizontal" action="/entry" method="POST">
        {{ nef.csrf_token }}
        {{ flp.render(nef.playername, label_width=5) }}
        {{ flp.render(nef.wristband, label_width=5) }}
        {{ flp.render(nef.collarid, label_width=5) }}
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                {{ flp.render_general_errors(nef) }}
                <button class="btn btn-lg btn-primary btn-block" name="register" type="submit">REGISTER</button>
            </div>
        </div>
        </form>
    </div>
    <div class="col-sm-6">
        <h4 class="alcenter text-warn">RETURNING PLAYER</h4>
        <form class="form-horizontal" action="/entry" method="POST">
        {{ ref.csrf_token }}
        {{ flp.render(ref.wristband, label_width=5) }}
        {{ flp.render(ref.collarid, label_width=5) }}
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                {{ flp.render_general_errors(ref) }}
                <button class="btn btn-lg btn-primary btn-block" name="return" type="submit">RETURN</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
