{% macro flashes() -%}
    {%- with msgs = get_flashed_messages() -%}
        {%- if msgs -%}
        <hr>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="text-align:center;font-size:175%">
            {%- for msg in msgs %}
                <span class="label label-warning">
                    {{ msg }}
                </span>
                {% if not loop.last %}<br>{% endif %}
            {%- endfor %}
            </div>
        </div>
        {%- endif %}
    {% endwith -%}
{%- endmacro %}
