{% extends "menu.html" %}
{% import "form_helper.html" as flp %}
{% block menu_custom_body %}
<h3 class="alcenter text-danger">PLAYER ENTRY</h3>
<div class="row">
    <div class="col-sm-6">
        <h3 class="alcenter text-warn">NEW PLAYER</h3>
        <form class="form-horizontal form-newplayer" action="/newplayer" method="POST">
        {{ nef.csrf_token }}
        {{ flp.render(nef.playername, label_width=5) }}
        {{ flp.render(nef.wristband, label_width=5) }}
        {{ flp.render(nef.collarid, label_width=5) }}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-5">
                <button class="btn btn-lg btn-primary btn-block" type="submit">REGISTER</button>
            </div>
        </div>
        </form>
    </div>
    <div class="col-sm-6">
        <h3 class="alcenter text-warn">RETURNING PLAYER</h3>
        <form class="form-horizontal form-oldplayer" action="/returnplayer" method="POST">
        {{ ref.csrf_token }}
        {{ flp.render(ref.wristband, label_width=5) }}
        {{ flp.render(nef.collarid, label_width=5) }}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-5">
                <button class="btn btn-lg btn-primary btn-block" type="submit">RETURN</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
