{% extends "base.html" -%}
{% block custom_head %}
    <script src="/static/js/socket.io.slim.js"></script>
{% endblock %}
{%- block custom_body %}
<div id="leaderboard">
    <div class="header clearfix">
        <h1>DEFCON BATTLE ROYALE</h1>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" style="text-align:center;">
           <h3>CURRENT LEADER</h3>
           <span id="socketio-leader" style="text-align:center;font-size:150%"></span>
           <img src="/static/img/katana_red.png" style="width:50px;">
       </div>
    </div>
    <div class="row">
        <h4>TOP PLAYER TIMES</h4>
        <div id="socketio-toptimes"></div>
    </div>
</div>
<div id="wheel" style="display:none;">
    <div class="header clearfix">
        <h1>SPIN THE WHEEL</h1>
    </div>
    <div class="row">
        <div class="col col-sm-10 col-sm-offset-1" style="text-align:center;">
            <div id="wheel-viz"></div>
        </div>
    </div>
</div>

<div style="position:fixed; bottom:0;">
    <h4 style="color:#fff;">elapsed time: <span id="socketio-elapsedtime"></span></h4>
</div>
<div style="position:fixed; bottom:0; right:0;">
    <img src="/static/img/BRLogo.png" style="width:200px; float:right; transform: rotate(-25deg);">
</div>

{% endblock %}
{% block body_js %}
    <script>
        function renderTopTimes(j) {
            outstr = "";
            $.each(j, function(i, v) {
                outstr += '<div class="row"><div class="col-sm-1">';
                if (v['dead'] == 'true') {
                    outstr += '<img src="/static/img/red-x-sm.png" style="width:25px;">';
                }
                outstr += '</div><div class="col-sm-2">';
                outstr += v['name'];
                outstr += '</div><div class="col-sm-5">';
                outstr += v['time'];
                outstr += '</div></div>'
            });
            return outstr;
        }

        var socket = null;
        $(document).ready(function() {
            if (!socket) {
                socket = io.connect(location.href);
                socket.on('refresh', function(data) {
                    $('#socketio-leader').text(data['leader']['name']);
                    $('#socketio-toptimes').html(renderTopTimes(data['toptimes']));
                    if (data['spin']['show']) {
                        $('#wheel').toggle(true);
                        $('#leaderboard').toggle(false);
                        if (data['spin']['state'] == 'wheel') {
                            $('#wheel-viz').html('<br><h1 style="font-size:800%;">WHEEL</h1>');
                        } else if (data['spin']['state'] == 'of') {
                            $('#wheel-viz').html('<br><h1 style="font-size:800%;">OF</h1>');
                        } else if (data['spin']['state'] == 'death') {
                            $('#wheel-viz').html('<br><h1 style="font-size:800%;">DEATH</h1>');
                        } else if (data['spin']['state'] == 'spinner') {
                            $('#wheel-viz').html('[spinner]');
                        } else if (data['spin']['state'] == 'results') {
                            $('#wheel-viz').html('<h3 id="socketio-game"></h3><h3 id="socketio-players"></h3>');
                        }
                    } else {
                        // 'leaderboard' should also be passed but no point in checking
                        $('#wheel').toggle(false);
                        $('#leaderboard').toggle(true);
                    }
                    $('#socketio-game').text(data['spin']['game']);
                    $('#socketio-players').text(data['spin']['players']);
                    $('#socketio-elapsedtime').text(data['gametime']);
                });
            }
        });
    </script>
{% endblock %}
