{% extends "base.html" -%}
{%- block custom_body %}
<div class="header clearfix">
    <nav>
        <ul class="nav nav-tabs pull-right" id="tabmenu">
            <li role="presentation"><a href="/entry"><strong>ENTRY</a></strong></li>
            <li role="presentation"><a href="/exit"><strong>EXIT</a></strong></li>
            <li role="presentation"><a href="/players"><strong>PLAYERS</a></strong></li>
            <li role="presentation"><a href="/config"><strong>CONFIG</strong></a></li> 
            <li role="presentation"><a href="/spin"><strong>SPIN</a></strong></li>
        </ul>
    </nav>
    <h2 class="text-danger">BATTLE ROYALE</h2>
</div>
    {%- block menu_custom_body %}{% endblock -%}
    {{ ehlp.flashes() }}
{%- endblock -%}

{%- block body_js -%}
<script type="text/javascript">
    function clearAlertFlashes() {
        $('.alert-flash').hide();
    }
    $(document).ready(function() {
        setTimeout(clearAlertFlashes, 3000)
    });
</script>
{%- block internal_body_js %}{% endblock -%}
{%- endblock -%}
