{% extends "menu.html" %}
{% import "form_helper.html" as flp %}
{% block menu_custom_body %}
<h3 class="alcenter text-danger">PLAYERS</h3>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-4"><h4>name</h4></div>
            <div class="col-sm-4"><h4>wristband</h4></div>
            <div class="col-sm-4"><h4>collar</h4></div>
        </div>
        {% for p in players %}
        <div class="row">
            <div class="col-sm-4">
                {{ p['name'] }}
            </div><div class="col-sm-4">
                {{ p['wrist'] }}
            </div><div class="col-sm-4">
                {{ p['collar'] }}
            </div>
        </div>
        {% endfor %}
        <!-- edit? delete? update? -->
    </div>
</div>
{% endblock %}
